body {
    font-family: 'Merriweather', serif !important;
    margin: 0;
    font-size: 14px;
}

.override-font {
    font-weight: 600;
    font-family: 'Merriweather', serif !important;
}

.content {
    margin: 50px 200px;
}

.grey {
    color: #282828;
}

.container {
    width: 75%;
    margin: 0 auto;
    min-height: 70%;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    height: 38px;
}

html {
    height: 100%;
}


.submit-btn {
    background-color: #26ade4;
    color: #ffffff;
}

.message {
    width: 75%;
    margin: 0 auto;
    color: #26ade4;
}


.table.add-edit select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    display: block;
    height: 30px;
    width: 100%;
}

.table {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    margin-bottom: 20px;
}

.table.add-edit {
    width: 60% !important;
}


.table input {
    width: 100%;
    height: 30px;
}
.table .grid {
    min-width: 100% !important;
}

.button-blue {
    background-color: #26ade4;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    height: inherit !important;
}

.green-background {
    background-color: #27ae60;
}
.green-background .homepage-content {
    width: 75%;
    margin: 0 auto;
    left: 0;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.white-background .homepage-content {
    width: 75%;
    margin: 0 auto;
    left: 0;
    color: #444444;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 19px;
}